.footer-container {
    width: 100%;
    max-width: 1440px;
    min-height: 50vh;
    background: #0E0E0E;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.footer-container img {
    width: 96px;
    height: 96px;
    cursor: pointer;
}

@media screen and (max-width: 1092px) {
    .footer-container {
        flex-wrap: wrap;
        gap: 10px;
    }
    .footer-container img {
        width: 56px;
        height: 56px;
    }
}

@media screen and (max-width: 400px) {
    .footer-container img {
        width: 45px;
        height: 45px;
    }
}