.heroes-section-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #0E0E0E;
    max-height: 700px;
}

.heroes-section-img-wrapper {
    width: 100%;
    height: 100vh;
    max-height: 700px;
}

.heroes-section-img-wrapper img {
    height: 100%;
}

.heroes-section-call-me-steen {
    width: 200px;
    height: 200px;
    background: #FF652F;
}

.heroes-section-call-me-steen-wrapper {
    position: relative;
    width: 15%;
    height: 0px;
}

.heroes-section-call-me-steen {
    position: absolute;
    z-index: +2;
    margin-top: -330px;
    transform: rotate(45deg);
    margin-left: 100px;
}

.heroes-section-call-me-steen-overlay {
    position: relative;
    width: 100%;
    height: 0px;
}

.heroes-section-call-me-steen-overlay-contents {
    width: 200px;
    height: 200px;
    transform: rotate(-45deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroes-section-call-me-steen-overlay-contents-top {
    font-size: 16px;
    line-height: 20px;
    color: rgba(14, 14, 14, 0.5);
    font-family: quicksand-bold;
}

.heroes-section-call-me-steen-overlay-contents-bottom {
    font-size: 48px;
    line-height: 60px;
    font-family: quicksand-bold;
    color: #0E0E0E;
}

.heroes-section-name-wrapper {
    width: 600px;
    position: relative;
    margin-left: auto;
}

.heroes-section-name-overlay {
    position: absolute;
    width: 100%;
    margin-top: -300px;
}

.heroes-section-name-div {
    font-size: 96px;
    line-height: 90px;
    font-family: quicksand-bold;
    color: white;
    width: 531px;
}

.heroes-section-name-title-div {
    font-size: 40px;
    line-height: 50px;
    color: #13A76B;
}

@media screen and (max-width: 1018px) {
    .heroes-section-name-wrapper {
        width: 100%;
    }
    .heroes-section-name-overlay {
        background: #0E0E0E;
        padding: 80px 50px;
    }
    .heroes-section-call-me-steen {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .heroes-section-name-div {
        font-size: 48px;
        line-height: 50px;
        width: 266px;
    }
    .heroes-section-name-title-div {
        font-size: 20px;
        line-height: 50px;
        width: 236px;
    }
    .heroes-section-name-overlay {
        background: #0E0E0E;
        padding: 50px 50px;
        margin-top: -200px;
    }
}